.home-slider-parent {
    display: flex;

    .left {
        width: auto;
        flex-shrink: 0;
    }

    .right {
        width: auto;
        flex-grow: 1;

        .product-img {
            position: absolute;
            top: 20px;
            bottom: 0;
            right: 3%;
            margin: auto;
        }
    }

    .slick-slider {
        border-radius: 15px;
        width: 95%;
        margin: auto;
        height: 90%;
        margin-top: 2%;
        border: #f5f5f5 1px solid;
        background-color: #F7F7F9;
        background-image: url('../../assets/img/bg2.jpg');
        background-size: cover;
        background-position: bottom;
    }
}